@import '../../../../../menu-footer/variables';
@import '../../../../../menu-footer/mixin';

.sec-pastor{
div{
&:nth-of-type(2){
figure{
background: url(../../../../../imgs/user.svg) 70% 40%;
background-size: cover;
width: 100%;
height:400px;
}
}   
}
}