$bgcolor: #0B233E;
$color-hover: #DDBA75;
$color-font: #ffffff;
$color-font-2: #adb5bd;
$color-font-3: #888888;
$color-font-4: #cecece;
$color-font-5: #3d3d3d;
$color-font-6: #D2D2D2;
$color-font-7: #6b6b6b;
$color-font-8: #b6b6b6;
$color-font-9: #808080;
$color-font-10:#212529;
$color-font-11: #ced4da;
$color-font-12: #E9ECEF;
$color-font-13: #212529;
$color-font-14:#333333;
$color-font-15: #b8b8b8;
$color-font-16:#555555; 
$color-font-17: #e6e6e6;
$color-font-18: #EEEEEE; 
$color-font-19: #399BFF ;
$color-font-20: #E558FF;
$color-font-21:#c4c4c4;
$color-font-22: #8c8c8c;
$color-font-23: #1D1D1D;
$color-font-24: #464855;
$color-font-25: #c9c9c9;
$color-font-26: #8f8f8f;
$font-pattern:4px;
$font-pattern-2:8px;
$font-pattern-3:16px;
$color-button: #E40000;
$font-17: 17px;
$font-22: 22px;
$font-1:5px;
$font-2:10px;
$font-3:15px;
$font-4:20px;
$font-5:25px;
$font-6:30px;
$font-7:35px;
$font-8:40px;
$font-9:45px;
$font-poppins: 'poppins';
$font-noto-sans: "Noto Sans",sans-serif;
$font-roboto: "roboto",sans-serif;
$font-openSnas: 'open-sans',sans-serif;
$font-overlock:'Overlock SC', cursive;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');





