@import'events-mixin';
@import'variables-events';
.img{
    background: $bgcolor url("../../../../imgs/corpo.jpg") center center no-repeat;
    background-size: cover;
}
.events-article{

    .events{

        .event{
            a{
                img{
                    width: 348px;
                    max-width: 100%;
                    height: 498px;
                }
            }
         
        }
    }
}