$bgcolor: #0B233E;
$color-hover: #DDBA75;
$color-font: #ffffff;
$font-37: 37px;
$font-15: 15px;
$font-16: 16px;
$color-font-1:#2F2F2F ;
$color-font-2: #cecece;
$color-font-3: #3d3d3d;
$font-noto-sans: "Noto Sans",sans-serif;
$font-roboto: "roboto",sans-serif;
$color-fecebook:#306199;
$color-whatsapp:#00D66E;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');