@import '../../../../../componentes-standard/menu-footer/mixin';
@import '../../../../../componentes-standard/menu-footer/variables';

@include responsive( tablet){
.event-sec{
    flex-direction: column;
    padding: 0 50px;
.events{
    width: 100%;
    padding: 0;
    max-width: 100%;
div{
width: 100%;
article{
    width: 100%;
button{
    width: 100%;
a{
    width: 100%;
figure{
    width: 100%;
    height: 700px;
}
}
}
span{
    margin:20px 0 100px 0;
}
}    
}
}
}
}